<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
</head>
<body>
    <header>
      <div class="inner">
        <h1>{{ site.project_name }}</h1>
        <h2></h2>

	<a href={{ site.project_url }} class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

	  {{ content }}

        </section>

        <aside id="sidebar">
          <a href={{ site.project_url }}zipball/master class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href={{ site.project_url }}tarball/master class="button">
            <small>Download</small>
            .tar.gz file
          </a>

	{% include aside.html %}
	
        </aside>
      </div>
    </div>

</body>

